body{
	margin: 0;
	text-align:center;
	font-family: verdana, sans-serif;
}

h1{
	color: #66BFBF;
	margin-top:0;
	line-height:2;

}
h2{
	color: #66BFBF;
	font-weight: normal;
}
h3, a{
	color: #11999E;
}

.top-container{
	background-color: #06283D;
	position: relative;
	padding-top:100px;
}

.middle-container{

}

.bottom-container{

}
.skill-row{
	width:50%;
	margin: 100px auto;
	text-align: left;
	line-height: 2;
}

.bottom-cloud{
	position: absolute;
	left:300px;
	bottom:300px;
}

.top-cloud{
	position: absolute;
	right: 300px;
	top: 50px;

}
.code-img{
	width: 25%;
	float: left;
	margin-right: 30px;
}

.gamepad-img{
	width: 25%;
	float:right;
	margin-left: 30px;
}
